<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Shoe Store</th>
        <th>Actions</th>
        <th>Tag It</th>
      </tr>
    </thead>
    <tbody>
      <% @shoe_stores.each do |shoe_store|%>
        <tr>
          <td><%= shoe_store.name %></td>
          <td>
            <div class="col-xs-1">
              <form class="form-horizontal" role="form" action="/shoe_stores/<%= shoe_store.id %>" method="get">
                <button type="submit" class="btn btn-link">View</button>
              </form>
            </div>
            <div class="col-xs-1">
              <form class="form-horizontal" role="form" action="/shoe_stores/<%= shoe_store.id %>/edit" method="get">
                <button type="submit" class="btn btn-link">Edit</button>
              </form>
            </div>
            <div class="col-xs-1">
              <form class="form-horizontal" role="form" action="/shoe_stores/<%= shoe_store.id %>" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit" class="btn btn-link">Delete</button>
              </form>
            </div>
          </td>
          <td>
            <div class="col-xs-0">
              <form class="form-horizontal" role="form" action="/shoe_stores/<%= shoe_store.id %>/shoe_brands" method="post">
                <select name="shoe_brand_id">
                  <% ShoeBrand.all.each do |shoe| %>
                    <% unless shoe.instore(shoe_store.id) %>
                      <option value="<%= shoe.id %>"><%= shoe.name %></option>
                    <% end %>
                  <% end %>
                </select>
                <button type="submit" class="btn btn-button">Add</button>
              </form>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
